<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %> 
  </head>
  <body>
    <%- include('../partials/nav') %> 
    <div class="categories-page content">
      <h1>test</h1>
    </div>
  </body>
</html>
