<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %> 
  </head>
  <body>
    <%- include('../partials/nav') %> 
    <div class="product-detail-page content">
      <%= category.name %><br>
      <%= category.description %>
    </div>
  </body>
</html>
