<footer class="bg-dark">
  <div class="footer-container">
    <div class="menu-container">
      <h2>MENU</h2>
      <div class="footer-nav">
        <a href="/">Home</a>
        <a href="/shop">Shop</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
      </div>
    </div>
    <div class="info-container">
      <div class="container">
        <h2>CONTACT</h2>
        <span>lluciano@duck.com</span>
      </div>
      <div class="container">
        <h2>MADE BY</h2>
        <a href="https://github.com/nluciano233" target="_blank">github.com/nluciano233</a>
      </div>
    </div>
  </div>
</footer>
