<footer class="bg-dark">
  <div class="footer-container">
    <div class="menu-container">
      <h2>MENU</h2>
      <div class="footer-nav">
        <a href="/">Home</a>
        <a href="/shop">Shop</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
      </div>
    </div>
    <div class="info-container">
      <div class="container">
        <h2>CONTACT</h2>
        <span>lluciano@duck.com</span>
      </div>
      <div class="container">
        <h2>AUTHOR</h2>
        <a href="https://github.com/nluciano233" target="_blank" style="width:min-content;">
          <i class="bi bi-github"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="copyright-container">
    <span>Copyright &copy <%= new Date().getFullYear() %> nluciano233. All rights reserved.</span>
  </div>
</footer>
