<div class="bg-dark nav">
  <nav class="nav-lg">
    <a href="#">HOME</a>
    <a href="#">SHOP</a>
    <a href="#">ABOUT</a>
    <a href="#">CONTACT</a>
  </nav>
  <button class="sidenav-toggle-button" id="sidenav-toggle-button">
    <i class="bi bi-list" style="font-size: 30px"></i>
  </button>
</div>
