<div class="bg-dark nav">
  <nav class="nav-lg">
    <a href="/">HOME</a>
    <a href="/shop">SHOP</a>
    <a href="/about">ABOUT</a>
    <a href="/contact">CONTACT</a>
  </nav>
  <button class="header-button sidenav-toggle-button" id="sidenav-toggle-button">
    <i class="bi bi-list"></i>
  </button>
  <button class="header-button cart-button" id="cart-button">
    <i class="bi bi-cart3"></i>
  </button>
</div>
