<div class="index-page">
  <div class="overlay">
    <div class="title-container">
      <h1>FRAGRANCE LIBRARY</h1>
      <div class="body-container">
        <div class="description">
          <span class="cursive">Explore our fine selection of perfumes and fragrances, made with invaluable paper from timeless books</span>
        </div>
        <a href="/shop">SHOP NOW</a>
      </div>
    </div>
  </div>
</div>
