<div class="index-page">
  <div class="overlay">
    <div class="title-container">
      <h1>Fragrance Library</h1>
      <div class="body-container">
        <div class="description">
          <span>Explore our fine selection of perfumes and fragrances,</span>
          <span>made with invaluable paper from timeless books</span>
        </div>
        <a href="/shop">SHOP NOW</a>
      </div>
    </div>
  </div>
</div>
