<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') %> 
  </head>
  <body>
    <%- include('partials/nav') %> 
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="/">Home</a>
      <a href="/shop">Shop</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
      <a href="/admin/inventory">Admin</a>
    </div>
    <div class="content" id="content">
      <%- body %>
    </div>
    <%- include('partials/footer') %>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
