<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') %> 
  </head>
  <body>
    <%- include('partials/nav') %> 
    <div class="content">
      <%- body %>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
