// --- reset ---
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  // -- make page use 100vh including child element that is going to use all the remaining height space
  min-height: 100vh;
  height: 1px;
  display: flex;
  flex-flow: column;
  // -- make page use 100vh including child element that is going to use all the remaining height space
  box-sizing: border-box;
  
  @media (min-width: 1200px) {
    // don'st adjust text-size on tablet portrait and desktop
    // tablet was making text bigger, messing up the design
    text-size-adjust: none;
  }
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
// --- reset ---

// --- GLOBAL ---

// begin fonts
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 1.2em;
  font-weight: 400;
}
span {
  font-size: 1em;
}
p {
  font-size: 1.25em;
}
// end fonts
// begin variables
$font-gray: #939393;
// end variables
html, body {
  max-width: 100vw;
  overflow-x: hidden;
}
.bg-dark {
  background-color: #05111d;
}
.button-link {
  border: 2px solid white;
  padding: 5px 40px;
  background-color: #00000000;
  color: white;
  font-size: 22px;
}

.nav {
  position: sticky;
  top: 0px;
  z-index: 1;
  width: 100%;
  min-height: 50px;
  display: flex;
  justify-content: end;
  align-items: center;


  .nav-lg {
    display: none;
  }
  .sidenav-toggle-button {
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #040d1600;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    margin: 0 7px 0 0;
  }

  @media (min-width: 992px) {
    justify-content: center;
    a {
      margin: 0 7px;
      text-decoration: none;
      color: white;
    }

    .nav-lg {
      display: block;

    }
    .sidenav-toggle-button {
      display: none;
    }

  }
}

footer {
  color: white;
  box-sizing: border-box;
  width: 100vw;
  padding: 30px 5%;


  .footer-container {
    display: grid;
    justify-content: start;
    grid-template-columns: 1fr;
    margin: 0 auto;
    gap: 20px;
    width: 100%;

    .menu-container {
      display: grid;
      grid-template-columns: 1fr;
      gap: 5px;

      .footer-nav {
        display: grid;
        gap: 3px;
      }
    }

    .info-container {
      display: grid;
      gap: inherit;

      .container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 5px;
      }
    }
    
    h2 {
      font-size: 1.4em;
    }
    a, span {
      text-decoration: none;
      color: white;
      font-size: 1.2em;
    }

    @media (min-width: 576px) {
      grid-template-columns: repeat(2, 1fr);
      max-width: 800px;

      .menu-container {
        justify-items: center;
      }
    }
  }
}

.content {
  // -- make page use 100vh including child element that is going to use all the remaining height space
  flex-grow: 1;
  // -- make page use 100vh including child element that is going to use all the remaining height space
}
// --- GLOBAL ---

// --- INVENTORY --- 

// admin-layout styles only the shared layout between inventory and category_list. specific styles  for non-shared should be applied with other custom classes.
.admin-layout {
  display: grid;
  max-width: 100%;
  grid-template-columns: 100%;
  grid-template-areas: 
    "nav"
    "content";

    .admin-nav-bar {
      grid-area: nav;
      display: grid;
      border-bottom: 1px solid black;
      grid-template-columns: repeat(2, minmax(auto, 150px));
      justify-content: center;
      justify-items: center;
      padding: 10px 0;

    }
    .admin-content {
      grid-area: content;

      .desktop-container {
        display: none;
      }

      @media (min-width: 992px) {
        // controls when to display mobile or desktop view
        .mobile-container {
          display: none;
        }
        .desktop-container {
          display: grid;
          box-sizing: border-box;
          grid-template-columns: 100%;
        }
      }
    }

    @media (min-width: 992px) {
      // controls the general layout of the shared elements
      grid-template-areas: "nav content";
      grid-template-columns: 1fr 10fr;

      .admin-nav-bar {
        border-bottom: none;
        border-right: 1px solid black;
        grid-template-columns: max-content;
        grid-template-rows: min-content;
        justify-content: center;
        justify-items: start;
        padding: 50px 10px;
        gap: 10px;
        max-width: 150px; // affects the width of gtc 1fr 10fr

        a {
          height: min-content;
        }
      }
    }
}

// begin inventory page
.mobile-inventory-page{
  display: grid;

  a {
    text-decoration: none;
    color: black;

    .product-container {
      display: grid;
      grid-template-columns: 5fr 5fr 1fr;
      grid-template-rows: minmax(auto, 180px);
      justify-items: center;
      align-items: center;
      overflow: hidden;
      border-bottom: 1px solid black;

      
      .img-container {
        overflow: hidden;
        height: 100%;
        img {
          width: 100%;
          height: 99%;
          max-height: 99%;
          object-fit: contain;
          box-sizing: border-box;
        }
      }
      .info-container {
        display: grid;
        gap: 7px;

        .details-container {
          display: grid;
          gap: 3px;

          .row {
            display: flex;
            gap: 5px;
            .key {
              color: $font-gray;
            }
          }
        }
      }
    }
  }

  @media (min-width: 576px) {
    // display .mobile-inventory-page items in 2 columns after exceeding 576px
    grid-template-columns: 1fr 1fr;

    // when displaying items in 2 columns, add a border-right ot odd elements
    a:nth-child(odd) {
      border-right: 1px solid black;
    }
  }
}

.desktop-inventory-page {
  display: grid;
  width: 100%;
  grid-template-columns: 100%;
  
  .product-labels-container {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr 1fr 1fr;
    justify-items: center;
    font-size: 1.2em;
    border-bottom: 1px solid black;
    padding: 20px 0;
    .add-new-container {
      a{
        text-decoration: none;
        display: flex;
        align-items: center;
      }
    }
  }

  .products-main-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: min-content;
    overflow: hidden;

    .product-container {
      display: grid;
      grid-template-columns: 1fr 1fr 3fr 1fr 1fr 1fr;
      align-items: center;
      gap: 10px;
      border-bottom: 1px solid black;
      padding: 5px 0;
      .align-center {
        text-align: center;
      }


      .product-edit-container {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;

        .edit-container {
          padding: 0 0 0 5px;
          a {
            text-decoration: none;
            color: black;
          }
        }

        .image-container {
          overflow: hidden;
          img {
            object-fit: contain;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
// end inventory page

