// --- reset ---
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  // -- make page use 100vh including child element that is going to use all the remaining height space
  min-height: 100vh;
  height: 1px;
  display: flex;
  flex-flow: column;
  // -- make page use 100vh including child element that is going to use all the remaining height space
  box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
// --- reset ---

// --- GLOBAL ---
.bg-dark {
  background-color: #05111d;
}
h1 {
  font-size: 2.5em;
}
p {
  font-size: 1.25em;
}
.button-link {
  border: 2px solid white;
  padding: 5px 40px;
  background-color: #00000000;
  color: white;
  font-size: 22px;
}

.nav {
  position: sticky;
  top: 0px;
  z-index: 1;
  width: 100%;
  min-height: 50px;
  display: flex;
  justify-content: end;
  align-items: center;


  .nav-lg {
    display: none;
  }
  .sidenav-toggle-button {
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #040d1600;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    margin: 0 7px 0 0;
  }

  @media (min-width: 992px) {
    justify-content: center;
    a {
      margin: 0 7px;
      text-decoration: none;
      color: white;
    }

    .nav-lg {
      display: block;

    }
    .sidenav-toggle-button {
      display: none;
    }

  }
}

.footer-container {
  color: white;
  
}

.content {
  // -- make page use 100vh including child element that is going to use all the remaining height space
  flex-grow: 1;
  // -- make page use 100vh including child element that is going to use all the remaining height space

}
// --- GLOBAL ---

// --- INVENTORY --- 
.layout {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 1fr 10fr;
  grid-template-rows: min-content;
  grid-template-areas: 
    "nav options"
    "nav products";
  
  .admin-nav-container {
    grid-area: nav;
    display: grid;
    padding: 50px 0;
    gap: 20px;
    grid-template-rows: min-content;
    justify-content: center;
    border-right: 1px solid black;
    align-content: start;
  }

  
}
.inventory-page {
  
  .product-options-container {
    grid-area: options;
    display: grid;
    grid-template-columns: 3fr 2fr 6fr 2fr repeat(2, 1fr);
    justify-items: center;
    border-bottom: 1px solid black;
    height: min-content;
    padding: 20px 0;
  }

  .products-main-container {
    grid-area: products;
    display: grid;
    grid-template-rows: min-content;
    max-height: min-content;
    align-content: start;

    .product-container {
      display: grid;
      grid-template-columns: 3fr 2fr 6fr 2fr repeat(2, 1fr);
      justify-items: center;
      align-items: center;
      height: min-content;
      border-bottom: 1px solid black;
      padding: 10px 0;
      
      .product-detail {
        padding: 0 15px;
        overflow-wrap: anywhere;
      }
      .product-description {
        width: 100%;
        box-sizing: border-box;
      }

      .product-edit-container {
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 2fr;
        justify-items: center;
        align-items: center;
        box-sizing: border-box;
        width: 100%;
        overflow: hidden;

        .edit-container {
          display: grid;
          grid-template-rows: min-content;
          gap: 10px;
        }

        .image-container {

          max-height: 200px;
          max-width: 200px;
          overflow: hidden;
          
          img {
            max-height: inherit;
            max-width: inherit;
          }
        }
      }
    }
  }
}

.categories-page {
  .category-options-container {
    grid-area: options;
    display: grid;
    grid-template-columns: 3fr 2fr 6fr 2fr repeat(2, 1fr);
    justify-items: center;
    border-bottom: 1px solid black;
    height: min-content;
    padding: 20px 0;
  }

  .categories-main-container {
    grid-area: products;
    display: grid;
    grid-template-rows: min-content;
    height: min-content;

    .category-container {
      display: grid;
      grid-template-columns: 3fr 2fr 6fr 2fr repeat(2, 1fr);
      justify-items: center;
      align-items: center;
      border-bottom: 1px solid black;
      padding: 10px 0;
      height: min-content;
      
      .category-detail {
        padding: 0 15px;
        overflow-wrap: anywhere;
      }
      .product-description {
        width: 100%;
        box-sizing: border-box;
      }
      .edit-container {
        display: grid;
        grid-template-rows: min-content;
        grid-template-columns: 1fr;
        gap: 10px;
      }
      }
  }
}

